@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
body {
  margin: 0px;
  font-family: "RIDIBatang", sans-serif;
  color: white;
}

body {
  background-color: #eef4eb;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

#clock {
  font-size: 5rem;
}
.greeting {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.hidden {
  display: none;
}

.name-input {
  width: 160px;
  height: 50px;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
}

.name-input::placeholder {
  color: white;
}

.submit-button {
  display: none;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* -----------TODO------------- */

.todo-input {
  margin-top: 10px;
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.todo-input::placeholder {
  color: white;
}

.todo-input:focus {
  outline: none;
}

.todoList {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.todo {
  padding-left: 0;
}
.xBtn {
  width: 15px;
  height: 15px;
  font-size: 10px;
  background-color: transparent;
  border: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mood-ul {
  list-style: none;
}

.mood {
  cursor: pointer;
  padding: 5px;
}

.mood:hover {
  background-color: #ffffff54;
}

.moodImg {
  width: 300px;
}

img {
  width: 200px;
}
li {
  padding: 5px;
}
